@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  background-color: unset !important;
}
* {
  font-family: "Lato", sans-serif;
}

a:focus {
  background-color: inherit;
}
.site-logo {
  margin: 0;
}
p,
ul,
li {
  font-size: 18px;
}
.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
  outline: unset !important;
  text-decoration: unset !important;
  text-decoration-skip-ink: none !important;
  background: unset !important;
}
/* --banner_section ---*/
#main {
  padding: 0;
  padding-bottom: 100px;
  background-color: #f6f6f6;
}

.banner_wrapper {
  display: flex;
  align-items: flex-end;
}
h1.smpl-title {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
  letter-spacing: 1px;
}
.confirm_checkbox a {
    color: #1d75ba;
    font-weight: 600;
}
.confirm_checkbox a:hover {
    text-decoration: unset;
}
/*
.banner_logo {
    padding-bottom: 9px;
}
*/
.banner_logo {
    display: none;
}
p.smpl-sub-title {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}/*
.banner_content {
  margin-left: 15px;
}
*/
.bnrr-cntnt {
    padding-left: 0;
}
/* clock_section--- */
section.clock_section {
  margin-top: -60px;
  margin-bottom: 15px;
}
.clock_wrapper {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
.clock_section .bg-white,
.instructions_section .bg-white,
.confirm_form .bg-white {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}
.minuts,
.problems {
  display: flex;
  align-items: center;
}
.clock_content {
  margin-left: 10px;
}
h5.minut {
    color: #fff;
    font-size: 20px;
}
.clock_img img {
  width: 60px;
}
p.assmnt {
    color: #fff;
    font-size: 16px;
}
.bg-frm {
    box-shadow: 0px 1px 8px 0px #777777 !important;
}
.instructions_section .title {
    text-align: center;
    color: #1d75ba;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 6px;
}
.instru_content ol {
  padding-bottom: 15px;
}


section.confirm_form {
  margin-top: 20px;
}
.confirm_form_wrap {
  text-align: center;
  max-width: 615px;
  margin: 0 auto;
  padding: 40px 0 50px 0;
}
.confirm_form_wrap p {
  margin-bottom: 15px;
}
.confirm_input {
  margin-bottom: 15px;
}
.confirm_input input {
  width: 100%;
  border: 0 !important;
  border-bottom: 1px solid #ddd !important;
  background: #fff !important;
  font-size: 18px;
}
input:focus {
  outline: 0 !important;
}
.confirm_checkbox {
    padding: 15px 0;
    text-align: left;
    margin-left: 6px;
}
.confirm_btn {
    margin-top: 16px;
}
.confirm_btn button {
    background: #1d75ba !important;
    color: #fff !important;
}
.confirm_btn button:hover {
    background: #777777 !important;
}
.confirm_btn button {
  padding: 12px 24px;
  border-radius: 5px;
  border: 0;
  color: #00000042;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #e0e0e0;
}
.confirm_checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #1d75ba;
    border-radius: 5px;
}
.confirm_btn i {
  margin-left: 5px;
}
.bnr-btm {
    padding-left: 0;
    padding-right: 0;
}
.bnr-btm-box {
    background: #1d75ba;
}
h2.frm-details-title {
    color: #1d75ba;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 16px;
}
/* ---technology---page ---*/

.technology_section .container.bg-white,
.question_section .container.bg-white {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}
.tech_btn {
  background-image: linear-gradient(139deg, #26a0f4 0, #10c3de 100%);
  margin: 5px;
}
.tech_btn a {
  display: block;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
/* -----questions-page ----- */
.ques_options li {
  list-style: lower-alpha;
}
.questions > li {
  margin-bottom: 20px;
  line-height: 1.8;
}
.ques_options li input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 2px solid #3375b9;
}
.ques_options li input[type="radio"]:checked {
  border: 2px solid #3375b9;
}
.ques_options li input:after {
  width: 12px;
  height: 12px;
  left: 2px;
  top: 2px;
}
.submit_btn {
  margin-top: 40px;
}/*
.submit_btn .btn,
.start_btn a {
  background-image: linear-gradient(139deg, #26a0f4 0, #10c3de 100%);
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 24px;
}
*/
.strt-btnn-new a {
    background: #1d75ba;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.strt-btnn-new a:hover {
  background: #777777;
}
.strt-btnn-new {
    margin-top: 10px;
}
.play_btn {
    background: #1d75ba;
    padding: 18px 30px;
    color: #fff;
    font-size: 36px;
    border-radius: 50px;
    border: 2px solid #1d75ba;
}
.play_btn:hover {
    background: #fff;
    color: #1d75ba;
    border: 2px solid #1d75ba;
}

/*
.playbutton_section .container {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}
*/
.proced-ques {
    margin-top: 20px;
}
.play-page-new {
    box-shadow: 0px 1px 8px 0px #777777 !important;
    padding: 50px 15px 50px 15px !important;
}
.play_btn_content {
  margin: 0;
  padding: 0;
  list-style: none;
}
.play_btn_content li {
    font-size: 18px;
    margin-bottom: 8px;
}
.play_btn_content li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 900;
    background: #1d75ba;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intrnt-txt {
    margin-top: 0 !important;
    text-align: left !important;
}
/************************** Instruction Page ************************************/

.instrctn-box {
    box-shadow: 0px 1px 8px 0px #777777 !important;
    padding-top: 40px;
    padding-bottom: 50px;
}
p.ensur-sub-title {
    text-align: center;
    color: #777777;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
    font-weight: 600;
}
.instru_content {
    margin-top: 20px;
}
li.mentioned-list {
    font-size: 18px;
    margin-bottom: 12px;
}
ul.above-list {
    padding-left: 22px;
    padding-top: 6px;
}
ul.above-list li {
    font-size: 16px;
    line-height: 26px;
}
li.mentioned-list a {
    color: #1d75ba;
}
li.mentioned-list a:hover {
    text-decoration: unset;
}
.play-btnn {
    margin-top: 20px !important;
}
.fa-play:before {
    position: relative;
    left: 3px;
}
input[type=checkbox]:after {  
content: "";
  opacity: 0;
  display: block;
  left: 4px !important;
  top: 1px !important;
  position: absolute;
  width: 8px !important;
  height: 11px !important;
  border: 3px solid var(--form--color-text);
  border-top: 0 !important;
  border-left: 0 !important;
  transform: rotate(40deg) !important;
}

a.qsm-btn.qsm-previous.qmn_btn.mlw_qmn_quiz_link.mlw_previous {
    display: none;
}
a.qsm-btn.qsm-next.qmn_btn.mlw_qmn_quiz_link.mlw_next {
    display: none;
}
.border {
    border: none !important;
}